body, html {
  font-family: monospace;
  font-size: 14pt;
  color: orange;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}



p {
  margin:1em;
}
#game {
  margin: 0 auto;
  padding: 250px 0 0 0;
  height: 400px;
  width: 600px;
}
#game #tiles {
  /*background-color: #aaa; (No background)*/
  display:inline-block;
  height: 400px;
  width: 600px;
  border: 1px solid rgba(40, 40, 40, .3);
  /*box-shadow: 1px 1px 2px 0px #AAA inset;*/
}
#game #tiles .tile {
  display:inline-block;
  float:left;

  /* Place border inside element: */
}
#game #tiles .tile:nth-child(2n) {

}
#game #tiles .tile.snake {
  /*background-color:green;*/
  /*border-color:green;*/
  background-image: url("../img/px.png");
  box-shadow: 1px 1px 1px #AAA;
}
#game #tiles .tile.food {
  background-color:blue;
  border-radius:10px;
}
#game #tiles .tile.head {
  /*background-color:darkgreen;*/
  background-image: url("../img/px.png");
}
#game #tiles .tile.dead {
  background-color:red;
}
/* PAUSED */
#game.paused #tiles .tile {
  opacity: 0.6;
}
.container {
  background-image: url("../img/Nokia_3310_empty.jpg");
  background-size: 1000px auto;
  background-repeat: no-repeat;
  background-position: center -400px;
  width: 100%;
  height: 100%;
}

/* INFORMATION AND STATISTICS */

.information-container {
  float: left;
  height: 100%;
  width: 120px;
  z-index: 2;
}
.information-container .top-container {
  height: 53px;
  width: 100%;
  background-color: #464646;
  float: left;
}
.information-container .top-container span {
   display:block;
   width:100px;
   margin: 50% auto 50%;
 }
.information-container .information {
  height: 90%;
  width: 100%;
  /*border-top: 1px;
  border-left: 0;
  border-style: inset;*/
  -moz-box-shadow: 0 2px 5px #aaa inset;
  -webkit-box-shadow: 0px 2px 5px #aaa inset;
  box-shadow: 0px 2px 5px #aaa inset;
  background-color: #eee;
  float: left;
}
.information-container .information .player:nth-child(odd) {
  background-color: #ccc;
}
.information-container .information .player:nth-child(even) {
  background-color: orange;
  color: #ccc;
}
.information-container .information .player {
  -moz-box-shadow: -3px 0 6px -2px #aaa inset;
  -webkit-box-shadow: -3px 0 6px -2px #aaa inset;
  box-shadow: -3px 0 6px -2px #aaa inset;
}
.information-container .information .player .points {
  float: right;
}








