body, html {
  font-family: Nokian;
  font-size: 14pt;
  color: orange;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
}
@font-face {
  font-family: Nokian;
  src: url("../fonts/Nokian.ttf");
}

p {
  margin:1em;
}
#game {
  margin-left: -300px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
  position: absolute;
  height: 400px;
  width: 600px;
}
#game #tiles {
  /*background-color: #aaa; (No background)*/
  display:inline-block;
  height: 400px;
  width: 600px;
  border: 1px solid rgba(40, 40, 40, .3);
  /*box-shadow: 1px 1px 2px 0px #AAA inset;*/
}
#game #tiles .tile {
  display:inline-block;
  float:left;

  /* Place border inside element: */
}
#game #tiles .tile:nth-child(2n) {

}
#game #tiles .tile.snake {
  /*background-color:green;*/
  /*border-color:green;*/
  background-image: url("../img/px.png");
  box-shadow: 1px 1px 1px #AAA;
}
#game #tiles .tile.food {
  background-color:blue;
  border-radius:10px;
}
#game #tiles .tile.head {
  /*background-color:darkgreen;*/
  background-image: url("../img/px.png");
}
#game #tiles .tile.dead {
  background-color:orange;
}
/* PAUSED */
#game.paused #tiles .tile {
  opacity: 0.6;
}
.container {
  background-image: url("../img/Nokia_3310_empty.jpg");
  background-size: 1000px auto;
  background-repeat: no-repeat;
  background-position: center 50%;
  width: 100%;
  height: 100%;
}

/* INFORMATION AND STATISTICS */

.information-container {
  float: left;
  height: 100%;
  width: 180px;
  z-index: 2;
}
.information-container .top-container {
  width: 100%;
  background-color: #464646;
  float: left;
}
.information-container .top-container span {
  display:block;
  margin: 10px 10px 7px 10px;
  font-size: 26px;
 }
.information-container .information {
  height: 100%;
  width: 100%;
  /*border-top: 1px;
  border-left: 0;
  border-style: inset;*/
  -moz-box-shadow: 0 2px 5px #aaa inset;
  -webkit-box-shadow: 0px 2px 5px #aaa inset;
  box-shadow: 0px 2px 5px #aaa inset;
  background-color: rgba(255, 255, 255, .4);
  float: left;
}
.information-container .information .player:nth-child(odd) {
  background-color: rgba(250, 250, 250, .4);
}
.information-container .information .player:nth-child(even) {
  background-color: rgba(230, 230, 230, .6);
  color: #37462f;
}
.information-container .information .player {
  /*-moz-box-shadow: -3px 0 6px -2px #aaa inset;*/
  /*-webkit-box-shadow: -3px 0 6px -2px #aaa inset;*/
  /*box-shadow: -3px 0 6px -2px #aaa inset;*/
  padding: 10px 5px 7px 10px;
  font-size: 10pt;
  text-transform: uppercase;
}
.information-container .information .player .points {
  float: right;
  height: 100%;
  width: 12px;
}








